---
import { APP_PAGES } from "@/consts";
import BaseLayout from "@/layouts/base-layout.astro";
import AboutHero from "@/components/about/about-hero.astro";
import AboutFuture from "@/components/about/about-future.astro";
import AboutTeam from "@/components/about/about-team.astro";
import CTABanner from "@/components/cta-banner.astro";
---

<BaseLayout
  title={APP_PAGES.about.title}
  description={APP_PAGES.about.description}
>
  <AboutHero />
  <AboutFuture />
  <AboutTeam />
  <section class="section__block">
    <div class="container">
      <CTABanner
        copy="Be part of the transformation. See how Kleva can revolutionize your collections."
        >Join us</CTABanner
      >
    </div>
  </section>
</BaseLayout>
