---
import { APP_PAGES } from "@/consts";
// Layout
import BaseLayout from "@/layouts/base-layout.astro";
import HomeHero from "@/components/home/home-hero.astro";
import HomeLiveNow from "@/components/home/home-live-now.astro";
import HomeCapabilities from "@/components/home/home-capabilities.astro";
import HomeHowItWorks from "@/components/home/home-how-it-works.astro";
import CTABanner from "@/components/cta-banner.astro";
import HomeResults from "@/components/home/home-results.astro";
import HomeSystem from "@/components/home/home-system.astro";
import HomeQA from "@/components/home/home-qa.astro";

// src/pages/index.astro
const langHeader = Astro.request.headers.get("accept-language") || "";
const prefersSpanish = langHeader.toLowerCase().startsWith("es");

const targetLocale = prefersSpanish ? "es" : "en";
return Astro.redirect(`/${targetLocale}/`);
---

<BaseLayout
  title={APP_PAGES.home.title}
  description={APP_PAGES.home.description}
>
  <HomeHero />
  <HomeLiveNow />
  <HomeCapabilities />
  <HomeHowItWorks />
  <section class="section__block__bottom">
    <div class="container">
      <CTABanner
        copy="Watch how our AI handles real collection calls in Spanish and Portuguese."
      >
        See
        <svg
          class="banner__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="109"
          height="38"
          viewBox="0 0 109 38"
          fill="none"
        >
          <path
            d="M95.6199 37.6151C88.5824 37.6151 83.2539 31.6363 83.2539 24.2939C83.2539 17.0564 88.7332 11.0776 96.0221 11.0776C103.21 11.0776 108.841 16.8467 108.841 24.2939V37.0906H105.875V31.1643C104.015 34.9928 100.245 37.6151 95.6199 37.6151ZM96.0221 34.5208C101.451 34.5208 105.724 29.9056 105.724 24.3464C105.724 18.7871 101.451 14.1719 96.0221 14.1719C90.6434 14.1719 86.3705 18.7871 86.3705 24.3464C86.3705 29.9056 90.6434 34.5208 96.0221 34.5208Z"
            fill="white"></path>
          <path
            d="M84.2556 14.1234C82.7773 14.1234 81.6829 14.9804 80.7359 16.9121C79.769 18.8846 79.1645 21.5957 78.5951 24.5286C78.0464 27.3548 77.5255 30.4249 76.6849 32.7473C76.2614 33.9172 75.7095 35.0415 74.9245 35.8911C74.0985 36.7851 73.0079 37.375 71.6513 37.375C68.9373 37.375 67.3358 35.1623 66.3279 32.9837C65.2785 30.7152 64.5224 27.7354 63.8096 24.923C63.0754 22.0263 62.3823 19.2852 61.466 17.2072C60.5076 15.0338 59.5781 14.2158 58.7129 14.1127L59.0697 11.1181C61.6904 11.4303 63.2272 13.7263 64.2256 15.9904C65.266 18.3499 66.0202 21.3697 66.733 24.1821C67.4671 27.0788 68.158 29.7562 69.0654 31.7175C70.0143 33.7688 70.8793 34.359 71.6513 34.359C72.0377 34.359 72.3605 34.2221 72.7093 33.8446C73.0991 33.4227 73.4835 32.7304 73.849 31.7206C74.5865 29.6833 75.0546 26.9404 75.6344 23.9538C76.1935 21.0739 76.8574 17.972 78.0276 15.5848C79.2178 13.1569 81.1298 11.1074 84.2556 11.1074V14.1234Z"
            fill="white"></path>
          <path
            d="M48.2198 37.4666C46.3114 37.4666 44.6111 37.1369 43.119 36.4776C41.6617 35.8183 40.4472 34.8988 39.4756 33.719C38.504 32.5392 37.758 31.1513 37.2375 29.5551C36.7517 27.9589 36.5088 26.2586 36.5088 24.4543C36.5088 22.6152 36.7517 20.8976 37.2375 19.3014C37.7233 17.6705 38.4346 16.2479 39.3715 15.0334C40.3431 13.7842 41.5229 12.8126 42.9108 12.1186C44.3335 11.4246 45.9644 11.0776 47.8035 11.0776C49.7466 11.0776 51.4122 11.4246 52.8002 12.1186C54.2229 12.7779 55.3679 13.6974 56.2354 14.8772C57.1376 16.0223 57.7969 17.2888 58.2133 18.6768C58.6644 20.0648 58.8899 21.4701 58.8899 22.8928C58.8899 23.1704 58.8726 23.5347 58.8379 23.9858C58.8379 24.4369 58.8032 24.8186 58.7338 25.1309H39.7358C39.8052 28.0804 40.586 30.3705 42.078 32.0014C43.6048 33.6323 45.6521 34.4477 48.2198 34.4477C49.8507 34.4477 51.2387 34.2048 52.3838 33.719C53.5636 33.1985 54.6913 32.3484 55.767 31.1686L58.1092 33.2506C57.1376 34.2569 56.1487 35.0723 55.1424 35.6969C54.1361 36.2868 53.0604 36.7379 51.9153 37.0502C50.805 37.3278 49.5731 37.4666 48.2198 37.4666ZM55.6108 23.4653C55.6802 23.1877 55.7149 22.9101 55.7149 22.6325C55.7149 22.3203 55.7149 22.0253 55.7149 21.7477C55.7149 20.8455 55.5588 19.926 55.2465 18.9891C54.9689 18.0522 54.5178 17.2021 53.8932 16.4387C53.2686 15.6753 52.4532 15.0507 51.4469 14.5649C50.4406 14.0791 49.2435 13.8362 47.8555 13.8362C46.2593 13.8362 44.854 14.2353 43.6395 15.0334C42.4597 15.8315 41.5402 16.8898 40.8809 18.2084C40.2216 19.5269 39.8399 21.019 39.7358 22.6846H56.7039L55.6108 23.4653Z"
            fill="white"></path>
          <path
            d="M33.0747 37.4668C31.6173 37.4668 30.4548 37.0157 29.5874 36.1135C28.7199 35.1767 28.2861 33.7019 28.2861 31.6894V0.824219H31.5652V31.1168C31.5652 32.2966 31.7908 33.1467 32.2419 33.6672C32.693 34.1877 33.3002 34.448 34.0636 34.448C34.4106 34.448 34.7923 34.4133 35.2087 34.3439C35.6251 34.2398 36.0588 34.1183 36.5099 33.9795V36.7902C35.92 36.9984 35.3128 37.1545 34.6882 37.2586C34.0983 37.3974 33.5604 37.4668 33.0747 37.4668Z"
            fill="white"></path>
          <path
            d="M0.610352 37.1025V0.824219H3.99355V37.1025H0.610352Z"
            fill="white"></path>
          <path
            d="M22.1343 36.9596C22.1343 34.2576 21.2436 32.5733 19.9764 31.3418C18.6306 30.0339 16.7726 29.1471 14.6446 28.2703C12.6418 27.445 10.2591 26.5848 8.46631 25.3317C6.53641 23.9828 5.09132 22.0541 5.09132 19.1144C5.09132 16.2156 6.49327 14.1439 8.34738 12.5824C10.1256 11.0848 12.4603 9.94244 14.5232 8.89184C16.6844 7.7911 18.6026 6.7673 20.0022 5.46412C21.3312 4.22664 22.1343 2.79106 22.1343 0.787598L25.4678 0.787598C25.4678 3.89166 24.1405 6.166 22.274 7.90392C20.4781 9.57605 18.1356 10.7931 16.0362 11.8624C13.8383 12.9817 11.9122 13.9385 10.4949 15.1322C9.15348 16.2619 8.42507 17.4739 8.42507 19.1144C8.42508 20.714 9.11039 21.7148 10.376 22.5994C11.7787 23.5799 13.6569 24.2575 15.9147 25.1878C18.0474 26.0666 20.4501 27.1534 22.2998 28.9511C24.2281 30.8251 25.4678 33.3784 25.4678 36.9596L22.1343 36.9596Z"
            fill="white"></path>
        </svg>
        AI <span class="italic">in action</span>
      </CTABanner>
    </div>
  </section>
  <div class="noise-area">
    <div class="g-noise"></div>
    <HomeResults />
    <HomeSystem />
    <HomeQA />
  </div>
</BaseLayout>

<style lang="scss">
  @use "../styles/mixins/" as *;

  .noise-area {
    position: relative;
  }
  .banner__svg {
    display: inline;
  }
</style>
