---
import { Icon } from "astro-icon/components";
import Tag from "@/components/tag.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const cards = [
  {
    tag: t("about.future.card.1.tag"),
    title: t("about.future.card.1.title"),
    copy: t("about.future.card.1.copy"),
  },
  {
    tag: t("about.future.card.2.tag"),
    title: t("about.future.card.2.title"),
    copy: t("about.future.card.2.copy"),
  },
  {
    tag: t("about.future.card.3.tag"),
    title: t("about.future.card.3.title"),
    copy: t("about.future.card.3.copy"),
  },
  {
    tag: t("about.future.card.4.tag"),
    title: t("about.future.card.4.title"),
    copy: t("about.future.card.4.copy"),
  },
];
---

<section class="section__block">
  <div class="container">
    <div class="section__header">
      <div class="title">
        <Tag label={t("about.future.tag")}>
          <Icon name="pink__wave" width={15.643} height={7.176} />
        </Tag>
        <h2 class="section__title">{t("about.future.title")}</h2>
      </div>
      <p class="section__copy">
        {t("about.future.copy")}
      </p>
    </div>
    <div class="cards">
      {
        cards.map((card) => (
          <div class="card glass-card">
            <span class="tag">{card.tag}</span>
            <h3>{card.title}</h3>
            <p>{card.copy}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/mixins/" as *;

  .section__copy {
    max-width: 682px;
  }

  .cards {
    display: grid;
    gap: 24px;

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
    transition: box-shadow 0.3s ease-out;
    box-shadow: 0 0 17.3px -2px rgba(var(--clr-pink), 0);
    text-align: center;

    &:hover {
      box-shadow: 0 0 17.3px -2px rgba(var(--clr-pink), 1);
    }

    .tag {
      color: rgb(var(--clr-pink));
      font-family: var(--font-mono);
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }
    h3 {
      font-size: 28px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -0.56px;
    }
    p {
      line-height: 1.16;
      letter-spacing: -0.16px;
      padding-inline: 8px;
    }
  }
</style>
