---
import ButtonPrimary from "@/components/buttons/button-primary.astro";
import { APP_PAGES } from "@/consts";

interface Props {
  classes?: string;
  copy?: string;
  buttonLabel?: string;
  isSmall?: boolean;
  withButton?: boolean;
  fillAvailableHeight?: boolean;
}

const {
  classes,
  copy,
  buttonLabel = "book an intro call",
  isSmall = false,
  withButton = true,
  fillAvailableHeight = false,
} = Astro.props;
---

<div
  class:list={[
    "cta-banner",
    classes,
    isSmall && "small",
    fillAvailableHeight && "fill-available-height",
  ]}
>
  <div class="g-noise"></div>
  <h2>
    <slot />
  </h2>
  <p>
    {copy}
  </p>
  {
    withButton && (
      <ButtonPrimary asLink href={APP_PAGES.contact.path} label={buttonLabel} />
    )
  }
</div>

<style lang="scss">
  @use "../styles/mixins/" as *;

  .g-noise {
    z-index: 1;
  }

  .cta-banner {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 64px 24px;
    background: rgba(var(--clr-pink), 0.4);
    background: linear-gradient(
      180deg,
      rgba(var(--clr-pink), 0.4) 1%,
      rgba(var(--clr-black), 1) 100%
    );
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(var(--clr-pink), 0.2);

    &.fill-available-height {
      height: 100%;
      justify-content: center;
    }

    &.small {
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  h2 {
    color: #fff;
    font-family: "Hanken Grotesk";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 48px */
    letter-spacing: -1.44px;

    svg {
      display: inline;
    }

    .italic {
      font-style: italic;
      font-family: var(--font-mono);
      word-spacing: -14px;
    }
  }
  p {
    text-align: center;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: -0.18px;
  }
</style>
