---
import CTABanner from "@/components/cta-banner.astro";
---

<div class="section__block__bottom">
  <div class="container">
    <CTABanner
      buttonLabel="book a demo"
      withButton={true}
      copy="Watch how our AI handles real collection calls in Spanish and Portuguese."
      >See <svg
        xmlns="http://www.w3.org/2000/svg"
        width="109"
        height="37"
        viewBox="0 0 109 37"
        fill="none"
      >
        <path
          d="M95.492 36.8928C88.4544 36.8928 83.126 30.914 83.126 23.5716C83.126 16.3341 88.6052 10.3553 95.8942 10.3553C103.083 10.3553 108.713 16.1244 108.713 23.5716V36.3683H105.747V30.442C103.887 34.2705 100.117 36.8928 95.492 36.8928ZM95.8942 33.7985C101.323 33.7985 105.596 29.1833 105.596 23.6241C105.596 18.0648 101.323 13.4496 95.8942 13.4496C90.5154 13.4496 86.2426 18.0648 86.2426 23.6241C86.2426 29.1833 90.5154 33.7985 95.8942 33.7985Z"
          fill="white"></path>
        <path
          d="M84.1277 13.4012C82.6494 13.4012 81.5549 14.2582 80.608 16.1899C79.641 18.1624 79.0366 20.8735 78.4672 23.8064C77.9185 26.6326 77.3976 29.7028 76.557 32.0251C76.1335 33.195 75.5816 34.3193 74.7965 35.1689C73.9706 36.0629 72.8799 36.6528 71.5234 36.6528C68.8093 36.6528 67.2078 34.4402 66.2 32.2615C65.1506 29.993 64.3945 27.0132 63.6817 24.2008C62.9475 21.3041 62.2544 18.563 61.3381 16.485C60.3797 14.3116 59.4502 13.4936 58.585 13.3905L58.9418 10.3959C61.5625 10.7081 63.0993 13.0041 64.0977 15.2682C65.1381 17.6278 65.8922 20.6476 66.6051 23.46C67.3392 26.3566 68.0301 29.034 68.9374 30.9954C69.8863 33.0466 70.7514 33.6368 71.5234 33.6368C71.9097 33.6368 72.2325 33.5 72.5814 33.1224C72.9712 32.7005 73.3556 32.0082 73.7211 30.9985C74.4586 28.9611 74.9267 26.2183 75.5065 23.2317C76.0656 20.3517 76.7295 17.2498 77.8997 14.8626C79.0899 12.4347 81.0019 10.3853 84.1277 10.3853V13.4012Z"
          fill="white"></path>
        <path
          d="M48.0919 36.7443C46.1835 36.7443 44.4832 36.4146 42.9911 35.7553C41.5337 35.096 40.3192 34.1765 39.3477 32.9967C38.3761 31.8169 37.63 30.429 37.1095 28.8328C36.6238 27.2366 36.3809 25.5364 36.3809 23.732C36.3809 21.8929 36.6238 20.1753 37.1095 18.5791C37.5953 16.9482 38.3067 15.5256 39.2436 14.3111C40.2151 13.0619 41.3949 12.0903 42.7829 11.3963C44.2056 10.7023 45.8365 10.3553 47.6755 10.3553C49.6187 10.3553 51.2843 10.7023 52.6722 11.3963C54.0949 12.0556 55.24 12.9752 56.1075 14.1549C57.0097 15.3 57.669 16.5665 58.0854 17.9545C58.5364 19.3425 58.762 20.7478 58.762 22.1705C58.762 22.4481 58.7446 22.8124 58.7099 23.2635C58.7099 23.7146 58.6752 24.0963 58.6058 24.4086H39.6079C39.6773 27.3581 40.458 29.6482 41.9501 31.2791C43.4769 32.91 45.5242 33.7254 48.0919 33.7254C49.7228 33.7254 51.1108 33.4825 52.2559 32.9967C53.4356 32.4762 54.5634 31.6261 55.639 30.4463L57.9813 32.5283C57.0097 33.5346 56.0207 34.35 55.0145 34.9746C54.0082 35.5645 52.9325 36.0156 51.7874 36.3279C50.677 36.6055 49.4452 36.7443 48.0919 36.7443ZM55.4829 22.743C55.5523 22.4654 55.587 22.1879 55.587 21.9103C55.587 21.598 55.587 21.303 55.587 21.0254C55.587 20.1232 55.4309 19.2037 55.1186 18.2668C54.841 17.3299 54.3899 16.4798 53.7653 15.7164C53.1407 14.953 52.3252 14.3284 51.319 13.8426C50.3127 13.3568 49.1156 13.114 47.7276 13.114C46.1314 13.114 44.7261 13.513 43.5116 14.3111C42.3318 15.1092 41.4123 16.1675 40.753 17.4861C40.0937 18.8047 39.712 20.2967 39.6079 21.9623H56.5759L55.4829 22.743Z"
          fill="white"></path>
        <path
          d="M32.9467 36.7442C31.4893 36.7442 30.3269 36.2931 29.4594 35.3909C28.5919 34.454 28.1582 32.9793 28.1582 30.9667V0.101562H31.4373V30.3942C31.4373 31.574 31.6628 32.4241 32.1139 32.9446C32.565 33.4651 33.1723 33.7253 33.9357 33.7253C34.2827 33.7253 34.6643 33.6906 35.0807 33.6212C35.4971 33.5171 35.9309 33.3957 36.382 33.2569V36.0675C35.7921 36.2757 35.1848 36.4319 34.5603 36.536C33.9704 36.6748 33.4325 36.7442 32.9467 36.7442Z"
          fill="white"></path>
        <path
          d="M0.482422 36.3799V0.101685H3.86562V36.3799H0.482422Z"
          fill="white"></path>
        <path
          d="M22.0064 36.2372C22.0064 33.5352 21.1157 31.8509 19.8485 30.6194C18.5027 29.3115 16.6447 28.4247 14.5167 27.5479C12.5138 26.7226 10.1311 25.8624 8.33838 24.6093C6.40848 23.2604 4.96339 21.3317 4.96339 18.392C4.96339 15.4932 6.36534 13.4215 8.21945 11.86C9.99762 10.3624 12.3324 9.22003 14.3952 8.16943C16.5565 7.06869 18.4746 6.04489 19.8743 4.7417C21.2033 3.50423 22.0064 2.06865 22.0064 0.0651854L25.3398 0.0651855C25.3398 3.16925 24.0126 5.44359 22.1461 7.1815C20.3502 8.85364 18.0076 10.0707 15.9083 11.1399C13.7104 12.2593 11.7843 13.216 10.367 14.4097C9.02555 15.5395 8.29714 16.7515 8.29714 18.392C8.29715 19.9916 8.98246 20.9923 10.248 21.877C11.6508 22.8575 13.529 23.5351 15.7868 24.4654C17.9195 25.3442 20.3221 26.431 22.1719 28.2286C24.1002 30.1027 25.3398 32.656 25.3398 36.2372L22.0064 36.2372Z"
          fill="white"></path>
      </svg>
      <span class="italic">in action</span></CTABanner
    >
  </div>
</div>

<style>
  svg {
    display: inline;
  }
  .italic {
    font-style: italic;
  }
</style>
